<div class="page-title">
  <div class="sign-up">
    Available Items
  </div>
</div>
<div class="container">

  <% if @listings.count > 0 %>
    <% @listings.each do |listing| %>
      <div class="card" style="width: 18rem;" >

        <h2><%= link_to listing.title, listing %></h2>
        <br>
        <p><%= listing.description %></p>
        <div><%= cl_image_tag "1" %></div>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3><i class="fa-solid fa-face-frown"></i> Nothing availabe near you <i class="fa-solid fa-face-frown"></i></h3>
    <p>Please post your unwanted items <i class="fa-solid fa-shirt"></i> and share our site with your friends.</p>
  <% end %>
</div>
