<div class="container">
  <%# title %>
  <div class="header">
    <h1><%= @listing.title %></h1>
  </div>


  <%# carousel %>
  <%= render "listings/carousel" %>

  <%#  %>

  <%# link to listings index page %>
  </div>
    <button type="button" class="btn btn-outline-primary"><%= link_to "Keep browsing", listings_path %></button>
  </div>

</div>
