@import "config/colors";

.header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: $green;
}

.right-side {
  float: right;
  width: 50%;
  padding: 20px 10px;
}
